
.hero{
    display: flex;
    justify-content: space-evenly;
    
    
    background-color: white;
    margin-top: 100px;
}
.hero-left span:nth-child(1){
      font-size: xx-large;
      font-weight: 500;
}
.hero-left span:nth-child(2){
    font-size: xx-large;
    font-weight: 500;
}
.hero-left{
    margin-top: 50px;
}